export ZSH="/$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
if [[ `uname` == Darwin ]];then
	plugins=( git fasd osx)
else
	plugins=( git fasd)
fi
autoload -U compinit promptinit

promptinit
#prompt pure

compinit
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' 'r:|=*' 'l:|=* r:|=*'
fpath=(/usr/local/share/zsh-completions $fpath)

#source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

source $ZSH/oh-my-zsh.sh
export PROMPT=$'%M|%{$fg_bold[blue]%}%D %T%{$reset_color%} ${ret_status} %{$fg[cyan]%}%~%{$reset_color%} $(git_prompt_info)\n %(!.#.%%) '

#fasd need it
export EDITOR=vim
